[submodule "webshop"]
	path = webshop
	url = git@github.com:violettomania/webshop.git
[submodule "jobs"]
	path = jobs
	url = git@github.com:violettomania/jobs.git
[submodule "bday-reminder"]
	path = bday-reminder
	url = git@github.com:violettomania/bday-reminder.git
[submodule "tours"]
	path = tours
	url = git@github.com:violettomania/dev-portfolio.git
	url = " "
